#row {
  background-color: aliceblue;
}
.menu {
  text-decoration: none;
}
.menu:hover {
  color: red;
}
.active-menu {
  color: red;
  text-decoration: none;
}
.profit {
  color: green !important;
}
.loss {
  color: red !important;
}

.custom-tooltip .tooltip-inner {
  display: flex;
  justify-content: center;
  background-color: transparent;
}
.custom-tooltip {
  display: flex !important;
  justify-content: center;
  background-color: white;

  /* background-color: #0d6efd !important; */
  width: 300px !important;
  border: 1px solid;
  border-radius: 0.4rem;
}
.pop-top {
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 60vh;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
}
.pop-effect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 60%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
.scroll-container {
  direction: rtl; /* flips content for scrollbar on left */
}
.scroll-container > * {
  direction: ltr; /* flip inner content back to normal */
}
.close-window-btn {
  position: fixed;
  top: 0px;
  right: 0px;
}
.analytics-pop {
  background-color: white;
}
.analytics-top {
  height: max-content;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  /* backdrop-filter: blur(100px); */
  box-shadow: 0 0 10px gray;
  padding: 2rem;
}
