#row:hover {
  /* box-shadow: 0 0 4px black; */
  transition-duration: 0.25s;
  color: white;
  background-color: #0d6efd;
}
#row {
  background-color: aliceblue;
}
.menu {
  text-decoration: none;
}
.menu:hover {
  color: red;
}
.active-menu {
  color: red;
  text-decoration: none;
}
